<div class="body_wrapper">
    <div class="center" style="width: 70%">
      <div class="header_area">
        <div class="logo floatleft">
          <a href="#"><img src="assets/images/logo 241.png" alt="" style="width: 300px; height: 47px;" /></a>
        </div>
        <div class="top_menu floatleft" style="margin-left: 30px;">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Subscribe</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div>
        <div class="social_plus_search floatright">
          <div class="social">
            <ul>
              <li><a href="#" class="twitter"></a></li>
              <li><a href="#" class="facebook"></a></li>
              <li><a href="#" class="feed"></a></li>
            </ul>
          </div>
          <div class="search">
            <!-- <form action="#" method="post" id="search_form"> -->
              <input type="text" placeholder="Search news" [(ngModel)]="searchQuery" (input)="onSearch($event)" />
              <input type="submit" id="searchform" value="search" (click)="onSearchButtonClick()" />
              <input type="hidden" value="post" name="post_type" />
            <!-- </form> -->
          </div>
        </div>
      </div>
      <div class="main_menu_area">
        <ul id="nav">
          <li><a (click)="navigateToCategory('sports')">sports</a></li>
          <li><a (click)="navigateToCategory('technology')">tech</a>
          </li>
          <li><a (click)="navigateToCategory('business')">business</a></li>
          <li><a (click)="navigateToCategory('entertainment')">entertainment</a></li>
          <li><a>more categories...</a></li>
        </ul>
      </div>
      <br>
      <div class="slider_area" >
        <div class="slider" style="height: 80%;" >
          <div class="image-slider" >
            <div class="slider-container" >
              <img [src]="currentImageUrl" alt="Image loading..." class="slider-image">
              <!-- <button class="navigation-button prev" (click)="previousImage()" >
                <i class="fas fa-chevron-left"></i>
                
              </button>
              <button class="navigation-button next" (click)="nextImage()" >
                <i class="fas fa-chevron-right"></i>
                
              </button> -->
            </div>
          </div>
        </div>
      </div>
      <div>
        <h3 style="color: #CF0000;"><b>{{title}} </b> </h3>
        <p>by <span> <strong>{{source}}</strong></span></p>
      </div>
  
      <div class="content_area">
        <div class="main_content floatleft" style="width: 720px;">
          <div class="left_coloum floatleft" style="width: 480px;">
            <div class="single_left_coloum_wrapper"  >
              <h2 class="title">from   around   the   world</h2>
              <a class="more" href="#">more</a>
                <div class="single_left_coloum floatleft" style="width:480px; padding-bottom: 8px ;" *ngFor="let article of trendingNews"> <img *ngIf="article.Image" [src]="article.Image" alt="News Image" />
                  <h3>{{article.Title}}</h3>
                    <p>{{article.Description}}</p>
                    <a class="readmore" href="#">read more</a> </div>
  <!--             
              <div class="single_left_coloum floatleft"> <img src="images/single_featured.png" alt="" />
                <h3>Lorem ipsum dolor sit amet, consectetur</h3>
                <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper 
                  dolor eu mattis.</p>
                <a class="readmore" href="#">read more</a> </div>
              <div class="single_left_coloum floatleft"> <img src="images/single_featured.png" alt="" />
                <h3>Lorem ipsum dolor sit amet, consectetur</h3>
                <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper 
                  dolor eu mattis.</p>
                <a class="readmore" href="#">read more</a> </div> -->
            </div>
            <div class="single_left_coloum_wrapper">
              <h2 class="title">business</h2>
              <a class="more" href="#">more</a>
              <div class="single_left_coloum floatleft" *ngFor="let data of businessNews"> <img *ngIf="data.urlToImage" [src]="data.urlToImage" alt="Thumbnail" />
                <h3>{{data.title}}</h3>
                <p>{{data.description}}</p>
                <a class="readmore" href="#">read more</a> </div>
            </div>
            <div class="single_left_coloum_wrapper gallery">
              <h2 class="title">sport</h2>
              <a class="more" href="#">more</a> 
              <div class="single_left_coloum floatleft" *ngFor="let sports of sportsNews" style="width: 150px; height: 240px;">
              <img  [src]="sports.urlToImage" alt=""  />
              <span><strong>{{sports.title}}</strong> </span>
              </div>
            </div>
            <div class="single_left_coloum_wrapper single_cat_left">
              <h2 class="title">tech news</h2>
              <a class="more" href="#">more</a>
              <div class="single_cat_left_content floatleft" *ngFor="let tech of techNews" style="height: 280px;">
                <img  [src]="tech.urlToImage" alt="" style="height: 100px; padding-top: 10px;"  />
              <h3>{{tech.title}}</h3>
                <p>{{tech.description}}</p>
                <p class="single_cat_left_content_meta">by <span>{{tech.source.name}}</span></p>
              </div>
            </div>
          </div>
          <div class="right_coloum floatright" style="width: 220px;">
            <div class="single_right_coloum">
              <h2 class="title">entertainment</h2>
              <ul>
                <li>
                  <div class="single_cat_right_content" *ngFor="let ent of entertainmentNews">
                <img  [src]="ent.urlToImage" alt="" style="height: 100px;"  />
                    <h3>{{ent.title}}</h3>
                    <p>{{ent.description}}</p>
                    <p class="single_cat_right_content_meta"><a href="#"><span style="margin-right: 10px;">read more</span></a> {{ent.publishedAt | date:'medium'}}</p>
                  </div>
                </li>
              </ul>
              <a class="popular_more" href="#">more</a> </div>
            <div class="single_right_coloum">
              <h2 class="title">editorial</h2>
              <div class="single_cat_right_content editorial"> <img src="images/editorial_img.png" alt="" />
                <h3>Lorem ipsum dolor sit amet con se cte tur adipiscing elit</h3>
              </div>
              <div class="single_cat_right_content editorial"> <img src="images/editorial_img.png" alt="" />
                <h3>Lorem ipsum dolor sit amet con se cte tur adipiscing elit</h3>
              </div>
              <div class="single_cat_right_content editorial"> <img src="images/editorial_img.png" alt="" />
                <h3>Lorem ipsum dolor sit amet con se cte tur adipiscing elit</h3>
              </div>
              <div class="single_cat_right_content editorial"> <img src="images/editorial_img.png" alt="" />
                <h3>Lorem ipsum dolor sit amet con se cte tur adipiscing elit</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar floatright">
          <div class="single_sidebar"> <img src="assets/images/add1.png" alt="" /> </div>
          <div class="single_sidebar">
            <div class="news-letter">
              <h2>Sign Up for Newsletter</h2>
              <p>Sign up to receive our free newsletters!</p>
              <form action="#" method="post">
                <input type="text" value="Name" id="name" />
                <input type="text" value="Email Address" id="email" />
                <input type="submit" value="SUBMIT" id="form-submit" />
              </form>
              <p class="news-letter-privacy">We do not spam. We value your privacy!</p>
            </div>
          </div>
          <div class="single_sidebar">
            <div class="popular">
              <h2 class="title">General</h2>
              <ul>
                <li>
                  <div class="single_popular" *ngFor="let general of generalNews" style="margin-bottom: 10px;">
                    <p>{{general.publishedAt | date:'medium'}}</p>
                    <h3>{{general.title}} </h3>
                    <a href="#" class="readmore">Read More</a>
                  </div>
                </li>
              </ul>
              <a class="popular_more">more</a> </div>
          </div>
          <div class="single_sidebar"> <img src="assets/images/add1.png" alt="" /> </div>
          <div class="single_sidebar">
            <h2 class="title">ADD</h2>
            <img src="assets/images/add2.png" alt="" /> </div>
        </div>
      </div>
      <div class="footer_top_area">
        <div class="inner_footer_top"> <img src="assets/images/add3.png" alt="" /> </div>
      </div>
      <div class="footer_bottom_area">
        <div class="footer_menu">
          <ul id="f_menu">
            <li><a href="#">world news</a></li>
            <li><a href="#">sports</a></li>
            <li><a href="#">tech</a></li>
            <li><a href="#">business</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">entertainment</a></li>
            <li><a href="#">culture</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">classifieds</a></li>
            <li><a href="#">blogs</a></li>
          </ul>
        </div>
        <div class="copyright_text"> 
          <p>Copyright &copy; 2045 The News Reporter Inc. All rights reserved</p>
          <!-- <p>Trade marks and images used in the design are the copyright of their respective owners and are used for demo purposes only.</p> -->
        </div>
      </div>
    </div>
  </div>