<div class="body_wrapper">
    <div class="center" style="width: 70%">
        <div class="header_area">
            <div class="logo floatleft">
              <a href="#"><img src="assets/images/logo 241.png" alt="" style="width: 300px; height: 47px;" /></a>
            </div>
            <div class="top_menu floatleft" style="margin-left: 30px;">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Subscribe</a></li>
                <li><a href="#">Login</a></li>
              </ul>
            </div>
            <div class="social_plus_search floatright">
              <div class="social">
                <ul>
                  <li><a href="#" class="twitter"></a></li>
                  <li><a href="#" class="facebook"></a></li>
                  <li><a href="#" class="feed"></a></li>
                </ul>
              </div>
              <div class="search">
                <!-- <form action="#" method="post" id="search_form"> -->
                  <input type="text" placeholder="Search news"  [(ngModel)]="searchQuery" (input)="onSearch($event)"/>
                  <input type="submit" id="searchform" value="search" (click)="onSearchButtonClick()"/>
                  <input type="hidden" value="post" name="post_type" />
                <!-- </form> -->
              </div>
            </div>
          </div>
          <div class="main_menu_area">
            <ul id="nav">
              <li><a href="#">home</a>
              </li>
              <li><a (click)="navigateToCategory('sports')">sports</a></li>
              <li><a (click)="navigateToCategory('technology')">tech</a>
              </li>
              <li><a (click)="navigateToCategory('business')">business</a></li>
              <li><a (click)="navigateToCategory('entertainment')">entertainment</a></li>
              <li><a>more categories...</a></li>
            </ul>
          </div>
          <div class="content_area">
            <div class="main_content floatleft" style="width: 100%;">
                <div class="single_left_coloum_wrapper" >
                    <h2 class="title">top news from, {{category}}</h2>
                    <!-- <a class="more" href="#"></a> -->
                      <div class="single_left_coloum floatleft" style="width:590%; padding-bottom: 8px ;"  *ngFor="let article of articles">
                        <!-- <img [src]="article.urlToImage" alt="Article Image" *ngIf="article.Image" /> -->
                        <img *ngIf="article.urlToImage" [src]="article.urlToImage" alt="Thumbnail" />
                        <h3>{{ article.title }}</h3>
                          <p>{{ article.description }}</p>
                          <a class="readmore" [href]="article.url" target="_blank">read more</a> 
                      </div>
                  </div>
            </div>
          </div>
    </div>
</div>